body
	margin: 0
	padding: 0
	color: #555
	font: normal 10pt Arial,Helvetica,sans-serif
	background: #EFEFEF

#page
	margin-top: 5px
	margin-bottom: 5px
	background: white
	border: 1px solid #C9E0ED

#header
	margin: 0
	padding: 0
	border-top: 3px solid #C9E0ED
	
#logo
	padding: 10px 20px
	font-size: 200%

#mainmenu
	background: #C9E0ED

	ul
		padding:6px 20px 5px 20px
		margin:0px

	ul li
		display: inline

	ul li a
		color:#ffffff
		background-color: transparent
		font-size: 12px
		font-weight: bold
		text-decoration: none
		padding: 5px 8px

	ul li a:hover, ul li.active a
		color: #6399cd
		background-color: #EFF4FA
		text-decoration: none

#content
	padding: 20px

#sidebar
	padding: 20px

#footer
	padding: 10px
	margin: 10px 0
	text-align: center
	border-top: 1px solid #C9E0ED

.flash-error, 	.flash-notice, 	.flash-success
		padding:.8em
		margin-bottom:1em
		border:2px solid #ddd

.flash-error
	background:#FBE3E4
	color:#8a1f11
	border-color:#FBC2C4

.flash-notice
	background:#FFF6BF
	color:#514721
	border-color:#FFD324

.flash-success
	background:#E6EFC2
	color:#264409
	border-color:#C6D880

.flash-error a
	color:#8a1f11

.flash-notice a
	color:#514721

.flash-success a
	color:#264409

.form .rememberMe label
	display: inline

.breadcrumbs
	padding: 5px 0

.breadcrumbs span
	font-weight: bold

.search-form
	padding: 10px
	margin: 10px 0
	background: #eee

.portlet-decoration
	padding: 3px 8px
	background: #B7D6E7
	border-left: 5px solid #6FACCF

.portlet-title
	font-size: 12px
	font-weight: bold
	padding: 0
	margin: 0
	color: #298dcd

.portlet-content
	font-size:0.9em
	margin: 0 0 15px 0
	padding: 5px 8px
	background:#EFFDFF

.portlet-content ul
	list-style-image:none
	list-style-position:outside
	list-style-type:none
	margin: 0
	padding: 0

.portlet-content li
	padding: 2px 0 4px 0px

.operations
	list-style-type: none
	margin: 0
	padding: 0

	li
		padding-bottom: 2px

	li a
		font: bold 12px Arial
		color: #0066A4
		display: block
		padding: 2px 0 2px 8px
		line-height: 15px
		text-decoration: none

	li a:visited
		color: #0066A4

	li a:hover
		background: #80CFFF

.list-view
	.view
		padding: 10px
		margin: 10px 0
		border: 1px solid #C9E0ED